# 1. Data and Library Load

In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import pickle
import os
import random

# ML
from sklearn.ensemble import RandomForestRegressor  # Bagging
from xgboost.sklearn import XGBRFRegressor           # GBM
from sklearn.linear_model import LogisticRegression  # LogisticRegression


# DL
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Input, Dense, ReLU, Softmax, Dropout
from tensorflow.keras.optimizers import SGD, Adam
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping

# for checking multi-collinearity
from statsmodels.stats.outliers_influence import variance_inflation_factor

# KFold(CV), partial : for optuna
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer
from functools import partial
from imblearn.over_sampling import SMOTE

# AutoML framework
import optuna
from optuna.samplers import TPESampler

In [112]:
# set configs
is_tuning = True
if is_tuning:
    sampler = TPESampler(seed=42)  # Make the sampler behave in a deterministic way.
is_scaling = True
is_pca = False
apply_vif = False
is_cuml = True
is_debug = True
sampling_method = 'hybrid' # 'under' or 'over'
if is_tuning:
    n_trials=50

# import SVC
# if is_cuml:
#     from cuml.svm import SVC, LinearSVC
# else:
#     from sklearn.svm import SVC
    
from sklearn.svm import SVC

    
# Keras model compile
learning_rate = 1e-2
batch_size = 32
epochs = 10

In [13]:
train = pd.read_csv('/USER/teeth/train.csv')
test = pd.read_csv('/USER/teeth/test.csv')

print(train.shape, test.shape)

(432, 12) (286, 11)

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   filename   432 non-null    object
 1   operator   432 non-null    object
 2   date       432 non-null    object
 3   ID         432 non-null    object
 4   sex        432 non-null    object
 5   age        432 non-null    int64
 6   ext_tooth  432 non-null    int64
 7   time_min   432 non-null    int64
 8   mmo        432 non-null    int64
 9   height     427 non-null    float64
 10  weight     427 non-null    float64
 11  bmi        427 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 40.6+ KB

# 2. EDA

In [15]:
lb = LabelEncoder()
train.sex = lb.fit_transform(train.sex)  # M->0, F->1

In [16]:
train = train.drop(columns=["ID","filename","ext_tooth","date"])

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   operator  432 non-null    object
 1   sex       432 non-null    int64
 2   age       432 non-null    int64
 3   time_min  432 non-null    int64
 4   mmo       432 non-null    int64
 5   height    427 non-null    float64
 6   weight    427 non-null    float64
 7   bmi       427 non-null    float64
dtypes: float64(3), int64(4), object(1)
memory usage: 27.1+ KB

In [30]:
# 결측치 채우기
train.loc[train['height'] != train['height'], 'height'] = train['height'].mean()
train.loc[train['weight'] != train['weight'], 'weight'] = train['weight'].mean()
train.loc[train['bmi'] != train['bmi'], 'bmi'] = train['bmi'].mean()

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   operator  432 non-null    object
 1   sex       432 non-null    int64
 2   age       432 non-null    int64
 3   time_min  432 non-null    int64
 4   mmo       432 non-null    int64
 5   height    432 non-null    float64
 6   weight    432 non-null    float64
 7   bmi       432 non-null    float64
dtypes: float64(3), int64(4), object(1)
memory usage: 27.1+ KB

In [32]:
train[['A','K','P','Y']] = pd.get_dummies(train['operator'], dtype=int)

In [34]:
train = train.drop(columns=["operator"])

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       432 non-null    int64
 1   age       432 non-null    int64
 2   time_min  432 non-null    int64
 3   mmo       432 non-null    int64
 4   height    432 non-null    float64
 5   weight    432 non-null    float64
 6   bmi       432 non-null    float64
 7   A         432 non-null    int64
 8   K         432 non-null    int64
 9   P         432 non-null    int64
 10  Y         432 non-null    int64
dtypes: float64(3), int64(8)
memory usage: 37.3 KB

In [39]:
# check missing data
train[train.isnull().any(axis=1)]

Empty DataFrame
Columns: [sex, age, time_min, mmo, height, weight, bmi, A, K, P, Y]
Index: []

In [40]:
def check_vif(df):
    vifs = [variance_inflation_factor(df, i) for i in range(df.shape[1])]
    vif_df = pd.DataFrame({"features":df.columns, "VIF" : vifs})
    vif_df = vif_df.sort_values(by="VIF", ascending=False)
    remove_col = vif_df.iloc[0, 0]
    top_vif = vif_df.iloc[0, 1]
    return vif_df, remove_col, top_vif

In [43]:
# remove all features when VIF is over 10.
apply_vif = False
if apply_vif:
    top_vif = 100

    while(top_vif > 5):
        vif_df, remove_col, top_vif = check_vif(train)
        print(remove_col, top_vif)
        if top_vif < 5:
            break
        train = train.drop(columns=remove_col)

    display(train)

In [47]:
# feature selection via Feature Importance
X = train.drop(columns=["time_min"])
y = train['time_min']

rf = RandomForestRegressor()
rf.fit(X, y)
fi_df = pd.DataFrame({'feature':X.columns, 'importance':rf.feature_importances_})
selected_cols = fi_df.sort_values(by="importance", ascending=False)[:10]["feature"].values
selected_cols

array(['Y', 'age', 'bmi', 'height', 'mmo', 'weight', 'A', 'sex', 'P', 'K'],
      dtype=object)

# 3. Data preprocessing

In [52]:
selected_cols = ['sex', 'age', 'mmo', 'height', 'weight', 'bmi', 'A', 'K','P', 'Y']
target_cols = ['time_min']

In [54]:
from sklearn.model_selection import train_test_split

#X = train.drop(columns=["Class"])
X = train[selected_cols]
y = train['time_min']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.15, random_state=42)
print(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

(367, 10) (65, 10) (367,) (65,)

In [59]:
from sklearn.preprocessing import StandardScaler

if is_scaling:
    scaler = StandardScaler()
    data_ = scaler.fit_transform(X_train)
    X_train = pd.DataFrame(data=data_, columns=X_train.columns)
    data_ = scaler.transform(X_val)
    X_val = pd.DataFrame(data=data_, columns=X_val.columns)
    display(X_train)

,sex,age,mmo,height,weight,bmi,A,K,P,Y
0,1.013718,0.719932,0.187817,-0.175799,-0.248856,-0.182346,-0.864650,-0.536395,2.674987,-0.540605
1,1.013718,1.256046,0.002025,0.778479,1.999712,1.997820,1.156538,-0.536395,-0.373834,-0.540605
2,-0.986468,-0.888411,1.488359,-0.772222,-1.119270,-1.036708,-0.864650,1.864299,-0.373834,-0.540605
3,1.013718,1.166694,1.859943,1.374902,0.911695,0.318402,-0.864650,-0.536395,2.674987,-0.540605
4,-0.986468,-0.441649,0.002025,-0.414368,-0.466460,-0.333549,-0.864650,1.864299,-0.373834,-0.540605
...,...,...,...,...,...,...,...,...,...,...
362,-0.986468,1.434751,-1.484309,-0.891507,-0.829132,-0.561180,1.156538,-0.536395,-0.373834,-0.540605
363,1.013718,-0.977763,0.930984,2.090610,1.709574,0.762472,-0.864650,-0.536395,2.674987,-0.540605
364,1.013718,-0.441649,-0.555350,1.494187,1.129299,0.492714,1.156538,-0.536395,-0.373834,-0.540605
365,-0.986468,0.005113,1.302567,-1.607215,-1.046735,-0.460847,-0.864650,-0.536395,2.674987,-0.540605
366,-0.986468,2.238923,0.002025,-1.368646,-0.611529,0.048725,-0.864650,-0.536395,2.674987,-0.540605

In [60]:
if is_pca:
    from sklearn.decomposition import PCA
    
    pca = PCA(n_components=0.90, random_state=42)
    data_ = pca.fit_transform(X_train)
    X_train = pd.DataFrame(data=data_, columns=[f"PC{i}" for i in range(1, data_.shape[1]+1)])
    data_ = pca.transform(X_val)
    X_val = pd.DataFrame(data=data_, columns=[f"PC{i}" for i in range(1, data_.shape[1]+1)])

    display(X_train)

# 4. Fitting and Evaluation

In [ ]:
# from sklearn.metrics import mean_absolute_error
# evaluation_metric = balance_logloss

In [134]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

def rf_optimizer(trial, X, y, K):
    # define parameter to tune
    n_estimators = trial.suggest_categorical('n_estimators', [50, 100, 200])
    max_depth = trial.suggest_int('max_depth', 4, 10)
    max_features = trial.suggest_categorical('max_features', [0.6, 0.7, 0.8])
    
    
    # set model
    model = RandomForestRegressor(n_estimators=n_estimators,
                                   max_depth=max_depth,
                                   max_features=max_features,
                                   criterion='absolute_error', # log_loss
                                #    class_weight='balanced'
                                  )
    
    # K-Fold Cross validation
    folds = StratifiedKFold(n_splits=K, shuffle=True)
    losses = []
    
    for train_idx, val_idx in folds.split(X, y):
        X_train = X.iloc[train_idx, :]
        y_train = y.iloc[train_idx]
        
        X_val = X.iloc[val_idx, :]
        y_val = y.iloc[val_idx]
        
        model.fit(X_train, y_train)
        preds = model.predict(X_val)
        loss = mean_absolute_percentage_error(y_val, preds)
        losses.append(loss)
    
    
    # return mean score of CV
    return np.mean(losses)

In [135]:
def xgb_optimizer(trial, X, y, K):
    n_estimators = trial.suggest_categorical('n_estimators', [500, 1000, 2000])
    max_depth = trial.suggest_int('max_depth', 4, 10)
    colsample_bytree = trial.suggest_categorical('colsample_bytree', [0.5, 0.6, 0.7, 0.8])
    learning_rate = trial.suggest_float('learning_rate', 1e-3, 1e-2)
    reg_lambda = trial.suggest_categorical('reg_lambda', [0.1, 0.5, 1, 2])
    
    
    model = XGBRFRegressor(n_estimators=n_estimators,
                          max_depth=max_depth,
                          colsample_bytree=colsample_bytree,
                          learning_rate=learning_rate,
                          reg_lambda=reg_lambda)
#                          scale_pos_weight=4.71)  ## we set class imbalance by using sampling method.
    
    
    folds = StratifiedKFold(n_splits=K, shuffle=True)
    losses = []
    
    for train_idx, val_idx in folds.split(X, y):
        X_train = X.iloc[train_idx, :]
        y_train = y.iloc[train_idx]
        
        X_val = X.iloc[val_idx, :]
        y_val = y.iloc[val_idx]
        
        model.fit(X_train, y_train)
        preds = model.predict(X_val)
        loss = mean_absolute_percentage_error(y_val, preds)
        losses.append(loss)
    
    
    return np.mean(losses)

In [115]:
K = 4 # set K of K-Fold
opt_func = partial(rf_optimizer, X=X, y=y, K=K)

if is_tuning:
    rf_study = optuna.create_study(direction="minimize", sampler=sampler) # determine minimize or maximize sth
    rf_study.optimize(opt_func, n_trials=n_trials)

[I 2023-11-23 13:04:18,242] A new study created in memory with name: no-name-33e8b61b-5d87-442d-8bff-0c88f9103a5c
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:19,325] Trial 0 finished with value: 4.873645833333333 and parameters: {'n_estimators': 100, 'max_depth': 8, 'max_features': 0.6}. Best is trial 0 with value: 4.873645833333333.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:19,729] Trial 1 finished with value: 4.6673379629629625 and parameters: {'n_estimators': 50, 'max_depth': 4, 'max_features': 0.6}. Best is trial 1 with value: 4.6673379629629625.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:22,073] Trial 2 finished with value: 4.852447916666666 and parameters: {'n_estimators': 200, 'max_depth': 7, 'max_features': 0.8}. Best is trial 1 with value: 4.6673379629629625.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:24,042] Trial 3 finished with value: 4.685763888888889 and parameters: {'n_estimators': 200, 'max_depth': 7, 'max_features': 0.6}. Best is trial 1 with value: 4.6673379629629625.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:26,020] Trial 4 finished with value: 4.731579861111111 and parameters: {'n_estimators': 200, 'max_depth': 5, 'max_features': 0.8}. Best is trial 1 with value: 4.6673379629629625.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:26,650] Trial 5 finished with value: 4.614189814814814 and parameters: {'n_estimators': 50, 'max_depth': 8, 'max_features': 0.8}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:27,899] Trial 6 finished with value: 4.893912037037037 and parameters: {'n_estimators': 100, 'max_depth': 8, 'max_features': 0.8}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:29,254] Trial 7 finished with value: 4.835601851851853 and parameters: {'n_estimators': 100, 'max_depth': 10, 'max_features': 0.8}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:30,351] Trial 8 finished with value: 4.6935416666666665 and parameters: {'n_estimators': 100, 'max_depth': 6, 'max_features': 0.8}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:32,128] Trial 9 finished with value: 4.753217592592593 and parameters: {'n_estimators': 200, 'max_depth': 4, 'max_features': 0.8}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:32,768] Trial 10 finished with value: 4.8380787037037045 and parameters: {'n_estimators': 50, 'max_depth': 10, 'max_features': 0.7}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:33,167] Trial 11 finished with value: 4.628958333333333 and parameters: {'n_estimators': 50, 'max_depth': 4, 'max_features': 0.6}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:33,794] Trial 12 finished with value: 4.936018518518519 and parameters: {'n_estimators': 50, 'max_depth': 9, 'max_features': 0.7}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:34,266] Trial 13 finished with value: 4.767662037037036 and parameters: {'n_estimators': 50, 'max_depth': 6, 'max_features': 0.6}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:34,811] Trial 14 finished with value: 4.967106481481482 and parameters: {'n_estimators': 50, 'max_depth': 8, 'max_features': 0.6}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:35,329] Trial 15 finished with value: 4.804074074074075 and parameters: {'n_estimators': 50, 'max_depth': 6, 'max_features': 0.7}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:35,765] Trial 16 finished with value: 4.665486111111111 and parameters: {'n_estimators': 50, 'max_depth': 5, 'max_features': 0.6}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:36,331] Trial 17 finished with value: 4.842708333333333 and parameters: {'n_estimators': 50, 'max_depth': 9, 'max_features': 0.6}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:36,840] Trial 18 finished with value: 4.705509259259259 and parameters: {'n_estimators': 50, 'max_depth': 5, 'max_features': 0.8}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:37,454] Trial 19 finished with value: 4.742685185185185 and parameters: {'n_estimators': 50, 'max_depth': 9, 'max_features': 0.7}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:38,054] Trial 20 finished with value: 4.8344907407407405 and parameters: {'n_estimators': 50, 'max_depth': 7, 'max_features': 0.8}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:38,496] Trial 21 finished with value: 4.704444444444444 and parameters: {'n_estimators': 50, 'max_depth': 5, 'max_features': 0.6}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:38,897] Trial 22 finished with value: 4.728240740740741 and parameters: {'n_estimators': 50, 'max_depth': 4, 'max_features': 0.6}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:39,337] Trial 23 finished with value: 4.620972222222222 and parameters: {'n_estimators': 50, 'max_depth': 5, 'max_features': 0.6}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:39,736] Trial 24 finished with value: 4.739907407407407 and parameters: {'n_estimators': 50, 'max_depth': 4, 'max_features': 0.6}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:40,209] Trial 25 finished with value: 4.928518518518518 and parameters: {'n_estimators': 50, 'max_depth': 6, 'max_features': 0.6}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:40,650] Trial 26 finished with value: 4.734143518518518 and parameters: {'n_estimators': 50, 'max_depth': 5, 'max_features': 0.6}. Best is trial 5 with value: 4.614189814814814.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:41,050] Trial 27 finished with value: 4.5945833333333335 and parameters: {'n_estimators': 50, 'max_depth': 4, 'max_features': 0.6}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:42,227] Trial 28 finished with value: 4.813298611111111 and parameters: {'n_estimators': 100, 'max_depth': 7, 'max_features': 0.8}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:44,506] Trial 29 finished with value: 4.878912037037038 and parameters: {'n_estimators': 200, 'max_depth': 8, 'max_features': 0.7}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:45,435] Trial 30 finished with value: 4.619560185185185 and parameters: {'n_estimators': 100, 'max_depth': 6, 'max_features': 0.6}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:46,364] Trial 31 finished with value: 4.772662037037037 and parameters: {'n_estimators': 100, 'max_depth': 6, 'max_features': 0.6}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:47,228] Trial 32 finished with value: 4.741006944444444 and parameters: {'n_estimators': 100, 'max_depth': 5, 'max_features': 0.6}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:48,010] Trial 33 finished with value: 4.6260763888888885 and parameters: {'n_estimators': 100, 'max_depth': 4, 'max_features': 0.6}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:49,003] Trial 34 finished with value: 4.842905092592592 and parameters: {'n_estimators': 100, 'max_depth': 7, 'max_features': 0.6}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:50,702] Trial 35 finished with value: 4.714837962962963 and parameters: {'n_estimators': 200, 'max_depth': 5, 'max_features': 0.6}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:51,956] Trial 36 finished with value: 4.845706018518519 and parameters: {'n_estimators': 100, 'max_depth': 8, 'max_features': 0.8}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:52,432] Trial 37 finished with value: 4.780740740740741 and parameters: {'n_estimators': 50, 'max_depth': 6, 'max_features': 0.6}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:54,759] Trial 38 finished with value: 4.749971064814815 and parameters: {'n_estimators': 200, 'max_depth': 7, 'max_features': 0.8}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:55,539] Trial 39 finished with value: 4.668506944444443 and parameters: {'n_estimators': 100, 'max_depth': 4, 'max_features': 0.6}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:56,052] Trial 40 finished with value: 4.782384259259259 and parameters: {'n_estimators': 50, 'max_depth': 5, 'max_features': 0.8}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:56,835] Trial 41 finished with value: 4.609467592592592 and parameters: {'n_estimators': 100, 'max_depth': 4, 'max_features': 0.6}. Best is trial 27 with value: 4.5945833333333335.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:57,614] Trial 42 finished with value: 4.577256944444444 and parameters: {'n_estimators': 100, 'max_depth': 4, 'max_features': 0.6}. Best is trial 42 with value: 4.577256944444444.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:58,391] Trial 43 finished with value: 4.598981481481482 and parameters: {'n_estimators': 100, 'max_depth': 4, 'max_features': 0.6}. Best is trial 42 with value: 4.577256944444444.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:59,174] Trial 44 finished with value: 4.650486111111111 and parameters: {'n_estimators': 100, 'max_depth': 4, 'max_features': 0.6}. Best is trial 42 with value: 4.577256944444444.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:04:59,958] Trial 45 finished with value: 4.638842592592593 and parameters: {'n_estimators': 100, 'max_depth': 4, 'max_features': 0.6}. Best is trial 42 with value: 4.577256944444444.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:00,862] Trial 46 finished with value: 4.641273148148148 and parameters: {'n_estimators': 100, 'max_depth': 4, 'max_features': 0.8}. Best is trial 42 with value: 4.577256944444444.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:01,704] Trial 47 finished with value: 4.636712962962963 and parameters: {'n_estimators': 100, 'max_depth': 4, 'max_features': 0.7}. Best is trial 42 with value: 4.577256944444444.

In [116]:
K = 4
opt_func = partial(xgb_optimizer, X=X, y=y, K=K)

if is_tuning:
    xgb_study = optuna.create_study(direction="minimize", sampler=sampler)
    xgb_study.optimize(opt_func, n_trials=n_trials)

[I 2023-11-23 13:05:03,665] A new study created in memory with name: no-name-64461f1b-08dc-4d77-a8b8-72344a7d0ddc
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:05,463] Trial 0 finished with value: 6.239804111145161 and parameters: {'n_estimators': 500, 'max_depth': 9, 'colsample_bytree': 0.7, 'learning_rate': 0.004226191556898453, 'reg_lambda': 0.5}. Best is trial 0 with value: 6.239804111145161.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:11,681] Trial 1 finished with value: 6.233454863230388 and parameters: {'n_estimators': 2000, 'max_depth': 9, 'colsample_bytree': 0.6, 'learning_rate': 0.0074192030850069556, 'reg_lambda': 1}. Best is trial 1 with value: 6.233454863230388.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:12,251] Trial 2 finished with value: 6.23047090680511 and parameters: {'n_estimators': 500, 'max_depth': 4, 'colsample_bytree': 0.6, 'learning_rate': 0.009168098265334837, 'reg_lambda': 1}. Best is trial 2 with value: 6.23047090680511.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:15,702] Trial 3 finished with value: 6.243838023256373 and parameters: {'n_estimators': 1000, 'max_depth': 10, 'colsample_bytree': 0.7, 'learning_rate': 0.0026791305299743227, 'reg_lambda': 2}. Best is trial 2 with value: 6.23047090680511.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:16,633] Trial 4 finished with value: 6.239931499516523 and parameters: {'n_estimators': 500, 'max_depth': 6, 'colsample_bytree': 0.6, 'learning_rate': 0.004756699028339011, 'reg_lambda': 2}. Best is trial 2 with value: 6.23047090680511.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:20,329] Trial 5 finished with value: 6.242699616485172 and parameters: {'n_estimators': 2000, 'max_depth': 6, 'colsample_bytree': 0.5, 'learning_rate': 0.0037079047883509272, 'reg_lambda': 1}. Best is trial 2 with value: 6.23047090680511.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:23,376] Trial 6 finished with value: 6.231859712689011 and parameters: {'n_estimators': 2000, 'max_depth': 5, 'colsample_bytree': 0.7, 'learning_rate': 0.007049219926652908, 'reg_lambda': 0.1}. Best is trial 2 with value: 6.23047090680511.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:24,494] Trial 7 finished with value: 6.237688894625063 and parameters: {'n_estimators': 1000, 'max_depth': 4, 'colsample_bytree': 0.5, 'learning_rate': 0.006318036488694177, 'reg_lambda': 0.1}. Best is trial 2 with value: 6.23047090680511.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:28,265] Trial 8 finished with value: 6.230481531884935 and parameters: {'n_estimators': 2000, 'max_depth': 6, 'colsample_bytree': 0.5, 'learning_rate': 0.009322242564507068, 'reg_lambda': 0.1}. Best is trial 2 with value: 6.23047090680511.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:28,846] Trial 9 finished with value: 6.241144729985131 and parameters: {'n_estimators': 500, 'max_depth': 4, 'colsample_bytree': 0.6, 'learning_rate': 0.004142886171513949, 'reg_lambda': 0.5}. Best is trial 2 with value: 6.23047090680511.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:30,367] Trial 10 finished with value: 6.22569113528287 and parameters: {'n_estimators': 500, 'max_depth': 8, 'colsample_bytree': 0.8, 'learning_rate': 0.009934912910460135, 'reg_lambda': 1}. Best is trial 10 with value: 6.22569113528287.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:31,959] Trial 11 finished with value: 6.225446901939533 and parameters: {'n_estimators': 500, 'max_depth': 8, 'colsample_bytree': 0.8, 'learning_rate': 0.00970977925844086, 'reg_lambda': 1}. Best is trial 11 with value: 6.225446901939533.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:33,509] Trial 12 finished with value: 6.224725997006452 and parameters: {'n_estimators': 500, 'max_depth': 8, 'colsample_bytree': 0.8, 'learning_rate': 0.009937515433003814, 'reg_lambda': 1}. Best is trial 12 with value: 6.224725997006452.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:35,042] Trial 13 finished with value: 6.229086847216994 and parameters: {'n_estimators': 500, 'max_depth': 8, 'colsample_bytree': 0.8, 'learning_rate': 0.008244137219936424, 'reg_lambda': 1}. Best is trial 12 with value: 6.224725997006452.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:36,561] Trial 14 finished with value: 6.228216632648751 and parameters: {'n_estimators': 500, 'max_depth': 8, 'colsample_bytree': 0.8, 'learning_rate': 0.008429347805844452, 'reg_lambda': 1}. Best is trial 12 with value: 6.224725997006452.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:39,053] Trial 15 finished with value: 6.227378015164976 and parameters: {'n_estimators': 1000, 'max_depth': 7, 'colsample_bytree': 0.8, 'learning_rate': 0.009705475080162984, 'reg_lambda': 1}. Best is trial 12 with value: 6.224725997006452.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:41,017] Trial 16 finished with value: 6.234818599842213 and parameters: {'n_estimators': 500, 'max_depth': 10, 'colsample_bytree': 0.8, 'learning_rate': 0.0060285592063287945, 'reg_lambda': 1}. Best is trial 12 with value: 6.224725997006452.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:42,295] Trial 17 finished with value: 6.228775430608678 and parameters: {'n_estimators': 500, 'max_depth': 7, 'colsample_bytree': 0.8, 'learning_rate': 0.008315581767672043, 'reg_lambda': 0.5}. Best is trial 12 with value: 6.224725997006452.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:44,004] Trial 18 finished with value: 6.247218653007789 and parameters: {'n_estimators': 500, 'max_depth': 9, 'colsample_bytree': 0.8, 'learning_rate': 0.0011330308465721728, 'reg_lambda': 2}. Best is trial 12 with value: 6.224725997006452.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:47,151] Trial 19 finished with value: 6.2239050600263806 and parameters: {'n_estimators': 1000, 'max_depth': 8, 'colsample_bytree': 0.8, 'learning_rate': 0.009966161429329495, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:49,693] Trial 20 finished with value: 6.227952480316162 and parameters: {'n_estimators': 1000, 'max_depth': 7, 'colsample_bytree': 0.8, 'learning_rate': 0.008832505985970237, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:52,734] Trial 21 finished with value: 6.225896546134242 and parameters: {'n_estimators': 1000, 'max_depth': 8, 'colsample_bytree': 0.8, 'learning_rate': 0.009709645046408722, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:56,217] Trial 22 finished with value: 6.224543313185373 and parameters: {'n_estimators': 1000, 'max_depth': 9, 'colsample_bytree': 0.8, 'learning_rate': 0.00998352082098715, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:05:59,641] Trial 23 finished with value: 6.230189005533854 and parameters: {'n_estimators': 1000, 'max_depth': 9, 'colsample_bytree': 0.8, 'learning_rate': 0.007774650307242384, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:03,359] Trial 24 finished with value: 6.228972629264549 and parameters: {'n_estimators': 1000, 'max_depth': 10, 'colsample_bytree': 0.8, 'learning_rate': 0.008909213673852761, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:06,847] Trial 25 finished with value: 6.224634850466693 and parameters: {'n_estimators': 1000, 'max_depth': 9, 'colsample_bytree': 0.8, 'learning_rate': 0.009974525636043882, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:10,407] Trial 26 finished with value: 6.226341227690378 and parameters: {'n_estimators': 1000, 'max_depth': 9, 'colsample_bytree': 0.8, 'learning_rate': 0.00888440100461097, 'reg_lambda': 0.5}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:13,542] Trial 27 finished with value: 6.234726192774596 and parameters: {'n_estimators': 1000, 'max_depth': 10, 'colsample_bytree': 0.5, 'learning_rate': 0.007796193910811749, 'reg_lambda': 2}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:17,349] Trial 28 finished with value: 6.231300989786784 and parameters: {'n_estimators': 1000, 'max_depth': 9, 'colsample_bytree': 0.7, 'learning_rate': 0.0069670953249726325, 'reg_lambda': 0.1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:20,557] Trial 29 finished with value: 6.2289424052944895 and parameters: {'n_estimators': 1000, 'max_depth': 9, 'colsample_bytree': 0.7, 'learning_rate': 0.009079644233498888, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:24,789] Trial 30 finished with value: 6.229250115376932 and parameters: {'n_estimators': 1000, 'max_depth': 10, 'colsample_bytree': 0.8, 'learning_rate': 0.008355184409884503, 'reg_lambda': 0.5}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:27,945] Trial 31 finished with value: 6.226183908957022 and parameters: {'n_estimators': 1000, 'max_depth': 8, 'colsample_bytree': 0.8, 'learning_rate': 0.009880387210089455, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:31,005] Trial 32 finished with value: 6.226162433624268 and parameters: {'n_estimators': 1000, 'max_depth': 8, 'colsample_bytree': 0.8, 'learning_rate': 0.009349652417902053, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:37,948] Trial 33 finished with value: 6.225715835889181 and parameters: {'n_estimators': 2000, 'max_depth': 9, 'colsample_bytree': 0.8, 'learning_rate': 0.009924473226806585, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:40,238] Trial 34 finished with value: 6.229516627611937 and parameters: {'n_estimators': 1000, 'max_depth': 7, 'colsample_bytree': 0.6, 'learning_rate': 0.009300180114087812, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:43,638] Trial 35 finished with value: 6.227428645999343 and parameters: {'n_estimators': 1000, 'max_depth': 9, 'colsample_bytree': 0.8, 'learning_rate': 0.008670190226196342, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:46,270] Trial 36 finished with value: 6.230913177684501 and parameters: {'n_estimators': 1000, 'max_depth': 8, 'colsample_bytree': 0.6, 'learning_rate': 0.009344708418603503, 'reg_lambda': 2}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:53,611] Trial 37 finished with value: 6.2266136761064885 and parameters: {'n_estimators': 2000, 'max_depth': 10, 'colsample_bytree': 0.7, 'learning_rate': 0.009960262978106179, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:06:57,089] Trial 38 finished with value: 6.230971541669634 and parameters: {'n_estimators': 1000, 'max_depth': 9, 'colsample_bytree': 0.8, 'learning_rate': 0.007756030616001856, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:07:00,924] Trial 39 finished with value: 6.23042118107831 and parameters: {'n_estimators': 2000, 'max_depth': 6, 'colsample_bytree': 0.5, 'learning_rate': 0.009320201672631024, 'reg_lambda': 0.1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:07:02,128] Trial 40 finished with value: 6.231134937869178 and parameters: {'n_estimators': 500, 'max_depth': 7, 'colsample_bytree': 0.6, 'learning_rate': 0.008703836471336013, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.
/root/anaconda3/envs/yeardream/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
[I 2023-11-23 13:07:03,656] Trial 41 finished with value: 6.225925039362024 and parameters: {'n_estimators': 500, 'max_depth': 8, 'colsample_bytree': 0.8, 'learning_rate': 0.009608918399954595, 'reg_lambda': 1}. Best is trial 19 with value: 6.2239050600263806.

In [117]:
# visualize experiment logs
def display_experiment_log(study):
    display(study.trials_dataframe())
    print("Best Score: %.4f" % study.best_value)
    print("Best params: ", study.best_trial.params)
    history = study.trials_dataframe()
    display(history[history.value == study.best_value])
    # optuna.visualization.plot_optimization_history(study).show()
    # optuna.visualization.plot_param_importances(study).show()

In [118]:
if is_tuning:
    display_experiment_log(rf_study)

,number,value,datetime_start,datetime_complete,duration,params_max_depth,params_max_features,params_n_estimators,state
0,0,4.873646,2023-11-23 13:04:18.244597,2023-11-23 13:04:19.325609,0 days 00:00:01.081012,8,0.6,100,COMPLETE
1,1,4.667338,2023-11-23 13:04:19.326664,2023-11-23 13:04:19.729646,0 days 00:00:00.402982,4,0.6,50,COMPLETE
2,2,4.852448,2023-11-23 13:04:19.730665,2023-11-23 13:04:22.073336,0 days 00:00:02.342671,7,0.8,200,COMPLETE
3,3,4.685764,2023-11-23 13:04:22.074522,2023-11-23 13:04:24.042536,0 days 00:00:01.968014,7,0.6,200,COMPLETE
4,4,4.731580,2023-11-23 13:04:24.044527,2023-11-23 13:04:26.020799,0 days 00:00:01.976272,5,0.8,200,COMPLETE
5,5,4.614190,2023-11-23 13:04:26.022140,2023-11-23 13:04:26.650080,0 days 00:00:00.627940,8,0.8,50,COMPLETE
6,6,4.893912,2023-11-23 13:04:26.651081,2023-11-23 13:04:27.899016,0 days 00:00:01.247935,8,0.8,100,COMPLETE
7,7,4.835602,2023-11-23 13:04:27.900020,2023-11-23 13:04:29.254353,0 days 00:00:01.354333,10,0.8,100,COMPLETE
8,8,4.693542,2023-11-23 13:04:29.255496,2023-11-23 13:04:30.351510,0 days 00:00:01.096014,6,0.8,100,COMPLETE
9,9,4.753218,2023-11-23 13:04:30.352520,2023-11-23 13:04:32.128310,0 days 00:00:01.775790,4,0.8,200,COMPLETE
10,10,4.838079,2023-11-23 13:04:32.129813,2023-11-23 13:04:32.767924,0 days 00:00:00.638111,10,0.7,50,COMPLETE
11,11,4.628958,2023-11-23 13:04:32.769054,2023-11-23 13:04:33.167419,0 days 00:00:00.398365,4,0.6,50,COMPLETE
12,12,4.936019,2023-11-23 13:04:33.168213,2023-11-23 13:04:33.794631,0 days 00:00:00.626418,9,0.7,50,COMPLETE
13,13,4.767662,2023-11-23 13:04:33.795824,2023-11-23 13:04:34.266757,0 days 00:00:00.470933,6,0.6,50,COMPLETE
14,14,4.967106,2023-11-23 13:04:34.267774,2023-11-23 13:04:34.811646,0 days 00:00:00.543872,8,0.6,50,COMPLETE
15,15,4.804074,2023-11-23 13:04:34.812988,2023-11-23 13:04:35.329618,0 days 00:00:00.516630,6,0.7,50,COMPLETE
16,16,4.665486,2023-11-23 13:04:35.330629,2023-11-23 13:04:35.765753,0 days 00:00:00.435124,5,0.6,50,COMPLETE
17,17,4.842708,2023-11-23 13:04:35.766764,2023-11-23 13:04:36.331840,0 days 00:00:00.565076,9,0.6,50,COMPLETE
18,18,4.705509,2023-11-23 13:04:36.332838,2023-11-23 13:04:36.840632,0 days 00:00:00.507794,5,0.8,50,COMPLETE
19,19,4.742685,2023-11-23 13:04:36.841636,2023-11-23 13:04:37.453869,0 days 00:00:00.612233,9,0.7,50,COMPLETE
20,20,4.834491,2023-11-23 13:04:37.454881,2023-11-23 13:04:38.054382,0 days 00:00:00.599501,7,0.8,50,COMPLETE
21,21,4.704444,2023-11-23 13:04:38.055375,2023-11-23 13:04:38.496468,0 days 00:00:00.441093,5,0.6,50,COMPLETE
22,22,4.728241,2023-11-23 13:04:38.497467,2023-11-23 13:04:38.897708,0 days 00:00:00.400241,4,0.6,50,COMPLETE
23,23,4.620972,2023-11-23 13:04:38.898572,2023-11-23 13:04:39.337595,0 days 00:00:00.439023,5,0.6,50,COMPLETE
24,24,4.739907,2023-11-23 13:04:39.338590,2023-11-23 13:04:39.736441,0 days 00:00:00.397851,4,0.6,50,COMPLETE
25,25,4.928519,2023-11-23 13:04:39.737260,2023-11-23 13:04:40.209267,0 days 00:00:00.472007,6,0.6,50,COMPLETE
26,26,4.734144,2023-11-23 13:04:40.210272,2023-11-23 13:04:40.650139,0 days 00:00:00.439867,5,0.6,50,COMPLETE
27,27,4.594583,2023-11-23 13:04:40.651095,2023-11-23 13:04:41.050363,0 days 00:00:00.399268,4,0.6,50,COMPLETE
28,28,4.813299,2023-11-23 13:04:41.051163,2023-11-23 13:04:42.227743,0 days 00:00:01.176580,7,0.8,100,COMPLETE
29,29,4.878912,2023-11-23 13:04:42.228865,2023-11-23 13:04:44.505910,0 days 00:00:02.277045,8,0.7,200,COMPLETE
30,30,4.619560,2023-11-23 13:04:44.506923,2023-11-23 13:04:45.435425,0 days 00:00:00.928502,6,0.6,100,COMPLETE
31,31,4.772662,2023-11-23 13:04:45.436530,2023-11-23 13:04:46.364084,0 days 00:00:00.927554,6,0.6,100,COMPLETE
32,32,4.741007,2023-11-23 13:04:46.365055,2023-11-23 13:04:47.228595,0 days 00:00:00.863540,5,0.6,100,COMPLETE
33,33,4.626076,2023-11-23 13:04:47.230119,2023-11-23 13:04:48.010071,0 days 00:00:00.779952,4,0.6,100,COMPLETE
34,34,4.842905,2023-11-23 13:04:48.011036,2023-11-23 13:04:49.003471,0 days 00:00:00.992435,7,0.6,100,COMPLETE
35,35,4.714838,2023-11-23 13:04:49.004478,2023-11-23 13:04:50.702790,0 days 00:00:01.698312,5,0.6,200,COMPLETE
36,36,4.845706,2023-11-23 13:04:50.703802,2023-11-23 13:04:51.956637,0 days 00:00:01.252835,8,0.8,100,COMPLETE
37,37,4.780741,2023-11-23 13:04:51.957955,2023-11-23 13:04:52.432856,0 days 00:00:00.474901,6,0.6,50,COMPLETE
38,38,4.749971,2023-11-23 13:04:52.433856,2023-11-23 13:04:54.759831,0 days 00:00:02.325975,7,0.8,200,COMPLETE
39,39,4.668507,2023-11-23 13:04:54.760828,2023-11-23 13:04:55.539471,0 days 00:00:00.778643,4,0.6,100,COMPLETE
40,40,4.782384,2023-11-23 13:04:55.540498,2023-11-23 13:04:56.052252,0 days 00:00:00.511754,5,0.8,50,COMPLETE
41,41,4.609468,2023-11-23 13:04:56.053222,2023-11-23 13:04:56.834871,0 days 00:00:00.781649,4,0.6,100,COMPLETE
42,42,4.577257,2023-11-23 13:04:56.835736,2023-11-23 13:04:57.614133,0 days 00:00:00.778397,4,0.6,100,COMPLETE
43,43,4.598981,2023-11-23 13:04:57.615095,2023-11-23 13:04:58.391774,0 days 00:00:00.776679,4,0.6,100,COMPLETE
44,44,4.650486,2023-11-23 13:04:58.392804,2023-11-23 13:04:59.174506,0 days 00:00:00.781702,4,0.6,100,COMPLETE
45,45,4.638843,2023-11-23 13:04:59.175537,2023-11-23 13:04:59.958808,0 days 00:00:00.783271,4,0.6,100,COMPLETE
46,46,4.641273,2023-11-23 13:04:59.959638,2023-11-23 13:05:00.862234,0 days 00:00:00.902596,4,0.8,100,COMPLETE
47,47,4.636713,2023-11-23 13:05:00.863214,2023-11-23 13:05:01.703900,0 days 00:00:00.840686,4,0.7,100,COMPLETE
48,48,4.702986,2023-11-23 13:05:01.704891,2023-11-23 13:05:02.488160,0 days 00:00:00.783269,4,0.6,100,COMPLETE
49,49,4.745231,2023-11-23 13:05:02.489170,2023-11-23 13:05:03.598558,0 days 00:00:01.109388,9,0.6,100,COMPLETE

Best Score: 4.5773
Best params:  {'n_estimators': 100, 'max_depth': 4, 'max_features': 0.6}

,number,value,datetime_start,datetime_complete,duration,params_max_depth,params_max_features,params_n_estimators,state
42,42,4.577257,2023-11-23 13:04:56.835736,2023-11-23 13:04:57.614133,0 days 00:00:00.778397,4,0.6,100,COMPLETE

In [119]:
if is_tuning:
    display_experiment_log(xgb_study)

,number,value,datetime_start,datetime_complete,duration,params_colsample_bytree,params_learning_rate,params_max_depth,params_n_estimators,params_reg_lambda,state
0,0,6.239804,2023-11-23 13:05:03.668753,2023-11-23 13:05:05.463400,0 days 00:00:01.794647,0.7,0.004226,9,500,0.5,COMPLETE
1,1,6.233455,2023-11-23 13:05:05.464689,2023-11-23 13:05:11.681177,0 days 00:00:06.216488,0.6,0.007419,9,2000,1.0,COMPLETE
2,2,6.230471,2023-11-23 13:05:11.683561,2023-11-23 13:05:12.251024,0 days 00:00:00.567463,0.6,0.009168,4,500,1.0,COMPLETE
3,3,6.243838,2023-11-23 13:05:12.252259,2023-11-23 13:05:15.702314,0 days 00:00:03.450055,0.7,0.002679,10,1000,2.0,COMPLETE
4,4,6.239931,2023-11-23 13:05:15.703943,2023-11-23 13:05:16.633387,0 days 00:00:00.929444,0.6,0.004757,6,500,2.0,COMPLETE
5,5,6.242700,2023-11-23 13:05:16.634880,2023-11-23 13:05:20.329350,0 days 00:00:03.694470,0.5,0.003708,6,2000,1.0,COMPLETE
6,6,6.231860,2023-11-23 13:05:20.332153,2023-11-23 13:05:23.375864,0 days 00:00:03.043711,0.7,0.007049,5,2000,0.1,COMPLETE
7,7,6.237689,2023-11-23 13:05:23.378602,2023-11-23 13:05:24.494387,0 days 00:00:01.115785,0.5,0.006318,4,1000,0.1,COMPLETE
8,8,6.230482,2023-11-23 13:05:24.496464,2023-11-23 13:05:28.265109,0 days 00:00:03.768645,0.5,0.009322,6,2000,0.1,COMPLETE
9,9,6.241145,2023-11-23 13:05:28.267966,2023-11-23 13:05:28.846179,0 days 00:00:00.578213,0.6,0.004143,4,500,0.5,COMPLETE
10,10,6.225691,2023-11-23 13:05:28.848252,2023-11-23 13:05:30.366841,0 days 00:00:01.518589,0.8,0.009935,8,500,1.0,COMPLETE
11,11,6.225447,2023-11-23 13:05:30.368852,2023-11-23 13:05:31.958670,0 days 00:00:01.589818,0.8,0.009710,8,500,1.0,COMPLETE
12,12,6.224726,2023-11-23 13:05:31.961157,2023-11-23 13:05:33.509291,0 days 00:00:01.548134,0.8,0.009938,8,500,1.0,COMPLETE
13,13,6.229087,2023-11-23 13:05:33.510645,2023-11-23 13:05:35.042195,0 days 00:00:01.531550,0.8,0.008244,8,500,1.0,COMPLETE
14,14,6.228217,2023-11-23 13:05:35.043441,2023-11-23 13:05:36.561712,0 days 00:00:01.518271,0.8,0.008429,8,500,1.0,COMPLETE
15,15,6.227378,2023-11-23 13:05:36.562971,2023-11-23 13:05:39.053595,0 days 00:00:02.490624,0.8,0.009705,7,1000,1.0,COMPLETE
16,16,6.234819,2023-11-23 13:05:39.054850,2023-11-23 13:05:41.017615,0 days 00:00:01.962765,0.8,0.006029,10,500,1.0,COMPLETE
17,17,6.228775,2023-11-23 13:05:41.018877,2023-11-23 13:05:42.295474,0 days 00:00:01.276597,0.8,0.008316,7,500,0.5,COMPLETE
18,18,6.247219,2023-11-23 13:05:42.296740,2023-11-23 13:05:44.004422,0 days 00:00:01.707682,0.8,0.001133,9,500,2.0,COMPLETE
19,19,6.223905,2023-11-23 13:05:44.005680,2023-11-23 13:05:47.151601,0 days 00:00:03.145921,0.8,0.009966,8,1000,1.0,COMPLETE
20,20,6.227952,2023-11-23 13:05:47.152889,2023-11-23 13:05:49.693105,0 days 00:00:02.540216,0.8,0.008833,7,1000,1.0,COMPLETE
21,21,6.225897,2023-11-23 13:05:49.695823,2023-11-23 13:05:52.733823,0 days 00:00:03.038000,0.8,0.009710,8,1000,1.0,COMPLETE
22,22,6.224543,2023-11-23 13:05:52.736579,2023-11-23 13:05:56.216797,0 days 00:00:03.480218,0.8,0.009984,9,1000,1.0,COMPLETE
23,23,6.230189,2023-11-23 13:05:56.219670,2023-11-23 13:05:59.641528,0 days 00:00:03.421858,0.8,0.007775,9,1000,1.0,COMPLETE
24,24,6.228973,2023-11-23 13:05:59.644275,2023-11-23 13:06:03.359375,0 days 00:00:03.715100,0.8,0.008909,10,1000,1.0,COMPLETE
25,25,6.224635,2023-11-23 13:06:03.362047,2023-11-23 13:06:06.847144,0 days 00:00:03.485097,0.8,0.009975,9,1000,1.0,COMPLETE
26,26,6.226341,2023-11-23 13:06:06.849738,2023-11-23 13:06:10.406688,0 days 00:00:03.556950,0.8,0.008884,9,1000,0.5,COMPLETE
27,27,6.234726,2023-11-23 13:06:10.409414,2023-11-23 13:06:13.542583,0 days 00:00:03.133169,0.5,0.007796,10,1000,2.0,COMPLETE
28,28,6.231301,2023-11-23 13:06:13.545349,2023-11-23 13:06:17.348745,0 days 00:00:03.803396,0.7,0.006967,9,1000,0.1,COMPLETE
29,29,6.228942,2023-11-23 13:06:17.351262,2023-11-23 13:06:20.556885,0 days 00:00:03.205623,0.7,0.009080,9,1000,1.0,COMPLETE
30,30,6.229250,2023-11-23 13:06:20.559657,2023-11-23 13:06:24.789399,0 days 00:00:04.229742,0.8,0.008355,10,1000,0.5,COMPLETE
31,31,6.226184,2023-11-23 13:06:24.792222,2023-11-23 13:06:27.945594,0 days 00:00:03.153372,0.8,0.009880,8,1000,1.0,COMPLETE
32,32,6.226162,2023-11-23 13:06:27.948518,2023-11-23 13:06:31.004906,0 days 00:00:03.056388,0.8,0.009350,8,1000,1.0,COMPLETE
33,33,6.225716,2023-11-23 13:06:31.007797,2023-11-23 13:06:37.947850,0 days 00:00:06.940053,0.8,0.009924,9,2000,1.0,COMPLETE
34,34,6.229517,2023-11-23 13:06:37.950475,2023-11-23 13:06:40.237948,0 days 00:00:02.287473,0.6,0.009300,7,1000,1.0,COMPLETE
35,35,6.227429,2023-11-23 13:06:40.239242,2023-11-23 13:06:43.638705,0 days 00:00:03.399463,0.8,0.008670,9,1000,1.0,COMPLETE
36,36,6.230913,2023-11-23 13:06:43.640746,2023-11-23 13:06:46.269893,0 days 00:00:02.629147,0.6,0.009345,8,1000,2.0,COMPLETE
37,37,6.226614,2023-11-23 13:06:46.271935,2023-11-23 13:06:53.611034,0 days 00:00:07.339099,0.7,0.009960,10,2000,1.0,COMPLETE
38,38,6.230972,2023-11-23 13:06:53.613956,2023-11-23 13:06:57.088924,0 days 00:00:03.474968,0.8,0.007756,9,1000,1.0,COMPLETE
39,39,6.230421,2023-11-23 13:06:57.091436,2023-11-23 13:07:00.923931,0 days 00:00:03.832495,0.5,0.009320,6,2000,0.1,COMPLETE
40,40,6.231135,2023-11-23 13:07:00.926711,2023-11-23 13:07:02.128576,0 days 00:00:01.201865,0.6,0.008704,7,500,1.0,COMPLETE
41,41,6.225925,2023-11-23 13:07:02.129963,2023-11-23 13:07:03.656511,0 days 00:00:01.526548,0.8,0.009609,8,500,1.0,COMPLETE
42,42,6.226261,2023-11-23 13:07:03.658005,2023-11-23 13:07:05.239337,0 days 00:00:01.581332,0.8,0.009991,8,500,1.0,COMPLETE
43,43,6.227035,2023-11-23 13:07:05.241172,2023-11-23 13:07:06.999676,0 days 00:00:01.758504,0.8,0.009447,9,500,1.0,COMPLETE
44,44,6.227770,2023-11-23 13:07:07.002234,2023-11-23 13:07:08.531848,0 days 00:00:01.529614,0.8,0.008953,8,500,1.0,COMPLETE
45,45,6.227131,2023-11-23 13:07:08.533461,2023-11-23 13:07:10.038569,0 days 00:00:01.505108,0.8,0.009280,8,500,1.0,COMPLETE
46,46,6.228529,2023-11-23 13:07:10.041028,2023-11-23 13:07:11.784297,0 days 00:00:01.743269,0.5,0.009620,9,500,0.1,COMPLETE
47,47,6.228714,2023-11-23 13:07:11.786648,2023-11-23 13:07:13.714382,0 days 00:00:01.927734,0.8,0.008523,6,1000,2.0,COMPLETE
48,48,6.231037,2023-11-23 13:07:13.715738,2023-11-23 13:07:18.525098,0 days 00:00:04.809360,0.7,0.008091,7,2000,0.5,COMPLETE
49,49,6.223986,2023-11-23 13:07:18.527841,2023-11-23 13:07:20.051412,0 days 00:00:01.523571,0.8,0.009996,8,500,1.0,COMPLETE

Best Score: 6.2239
Best params:  {'n_estimators': 1000, 'max_depth': 8, 'colsample_bytree': 0.8, 'learning_rate': 0.009966161429329495, 'reg_lambda': 1}

,number,value,datetime_start,datetime_complete,duration,params_colsample_bytree,params_learning_rate,params_max_depth,params_n_estimators,params_reg_lambda,state
19,19,6.223905,2023-11-23 13:05:44.005680,2023-11-23 13:05:47.151601,0 days 00:00:03.145921,0.8,0.009966,8,1000,1.0,COMPLETE

# 6. Test Prediction and Make Submission

In [120]:
test

,filename,operator,date,ID,sex,age,ext_tooth,mmo,height,weight,bmi,A,K,P,Y
0,test_0000.png,A,2021.01.27,0025d728ca,1,25,38,42,178.0,79.0,24.933720,1,0,0,0
1,test_0001.png,A,2020.03.10,0025254212,1,41,38,45,178.0,80.0,25.249337,1,0,0,0
2,test_0002.png,K,2020.03.20,00c1240c5e,0,25,38,44,162.0,71.0,27.053803,0,1,0,0
3,test_0003.png,A,2020.06.13,00afffb836,0,25,38,34,158.0,52.0,20.829995,1,0,0,0
4,test_0004.png,P,2020.05.18,001075979c,1,21,38,50,178.0,67.0,21.146320,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,test_0281.png,A,2020.08.21,000bd141a0,1,26,38,35,174.0,54.0,17.835910,1,0,0,0
282,test_0282.png,A,2020.04.23,00ac217bb0,0,22,48,42,162.0,62.0,23.624447,1,0,0,0
283,test_0283.png,Y,2021.02.03,002fb89e3a,1,21,48,40,179.0,81.0,25.280110,0,0,0,1
284,test_0284.png,K,2021.03.13,0018cd0b04,0,25,38,38,162.0,62.0,23.624447,0,1,0,0
285,test_0285.png,A,2020.09.01,00a498137c,1,16,38,42,184.0,83.0,24.515600,1,0,0,0

In [121]:
test.isna().sum()

filename     0
operator     0
date         0
ID           0
sex          0
age          0
ext_tooth    0
mmo          0
height       0
weight       0
bmi          0
A            0
K            0
P            0
Y            0
dtype: int64

In [122]:
test.loc[test['height'] != test['height'], 'height'] = test['height'].mean()
test.loc[test['weight'] != test['weight'], 'weight'] = test['weight'].mean()
test.loc[test['bmi'] != test['bmi'], 'bmi'] = test['bmi'].mean()

In [123]:
test[['A','K','P','Y']] = pd.get_dummies(test['operator'], dtype=int)

In [124]:
test.sex = lb.fit_transform(test.sex)

In [125]:
test

,filename,operator,date,ID,sex,age,ext_tooth,mmo,height,weight,bmi,A,K,P,Y
0,test_0000.png,A,2021.01.27,0025d728ca,1,25,38,42,178.0,79.0,24.933720,1,0,0,0
1,test_0001.png,A,2020.03.10,0025254212,1,41,38,45,178.0,80.0,25.249337,1,0,0,0
2,test_0002.png,K,2020.03.20,00c1240c5e,0,25,38,44,162.0,71.0,27.053803,0,1,0,0
3,test_0003.png,A,2020.06.13,00afffb836,0,25,38,34,158.0,52.0,20.829995,1,0,0,0
4,test_0004.png,P,2020.05.18,001075979c,1,21,38,50,178.0,67.0,21.146320,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,test_0281.png,A,2020.08.21,000bd141a0,1,26,38,35,174.0,54.0,17.835910,1,0,0,0
282,test_0282.png,A,2020.04.23,00ac217bb0,0,22,48,42,162.0,62.0,23.624447,1,0,0,0
283,test_0283.png,Y,2021.02.03,002fb89e3a,1,21,48,40,179.0,81.0,25.280110,0,0,0,1
284,test_0284.png,K,2021.03.13,0018cd0b04,0,25,38,38,162.0,62.0,23.624447,0,1,0,0
285,test_0285.png,A,2020.09.01,00a498137c,1,16,38,42,184.0,83.0,24.515600,1,0,0,0

In [126]:
test.isna().sum()

filename     0
operator     0
date         0
ID           0
sex          0
age          0
ext_tooth    0
mmo          0
height       0
weight       0
bmi          0
A            0
K            0
P            0
Y            0
dtype: int64

In [127]:
## preprocessing in same way
X_test = test[X.columns].fillna(X.mean())
if is_scaling:
    X_test = scaler.transform(X_test)
    X_test = pd.DataFrame(data=X_test, columns=X.columns)

if is_pca:
    data_ = pca.transform(X_test)
    X_test = pd.DataFrame(data=data_, columns=[f"PC{i}" for i in range(1, data_.shape[1]+1)])

X_test

,sex,age,mmo,height,weight,bmi,A,K,P,Y
0,1.013718,-0.352297,0.373608,1.255617,1.056764,0.556759,1.156538,-0.536395,-0.373834,-0.540605
1,1.013718,1.077342,0.930984,1.255617,1.129299,0.640161,1.156538,-0.536395,-0.373834,-0.540605
2,-0.986468,-0.352297,0.745192,-0.652938,0.476488,1.116992,-0.864650,1.864299,-0.373834,-0.540605
3,-0.986468,-0.352297,-1.112726,-1.130076,-0.901666,-0.527654,1.156538,-0.536395,-0.373834,-0.540605
4,1.013718,-0.709706,1.859943,1.255617,0.186351,-0.444065,-0.864650,-0.536395,2.674987,-0.540605
...,...,...,...,...,...,...,...,...,...,...
281,1.013718,-0.262944,-0.926934,0.778479,-0.756597,-1.318844,1.156538,-0.536395,-0.373834,-0.540605
282,-0.986468,-0.620354,0.373608,-0.652938,-0.176322,0.210782,1.156538,-0.536395,-0.373834,-0.540605
283,1.013718,-0.709706,0.002025,1.374902,1.201833,0.648293,-0.864650,-0.536395,-0.373834,1.849780
284,-0.986468,-0.352297,-0.369559,-0.652938,-0.176322,0.210782,-0.864650,1.864299,-0.373834,-0.540605
285,1.013718,-1.156468,0.373608,1.971326,1.346902,0.446270,1.156538,-0.536395,-0.373834,-0.540605

In [128]:
# Finalize Models
if is_tuning:
    rf_best_params = rf_study.best_params
    # lr_best_params = lr_study.best_params
    xgb_best_params = xgb_study.best_params

    best_rf = RandomForestRegressor(**rf_best_params)
    # best_lr = LogisticRegression(**lr_best_params)
    best_xgb = XGBRFRegressor(**xgb_best_params)

In [129]:
# first ensebmle model, then check it.
best_rf.fit(X_train, y_train)
# best_lr.fit(X_train, y_train)
best_xgb.fit(X_train, y_train)
# best_svm.fit(X_train, y_train)

# OOF-prediction
v_rf = best_rf.predict(X_val)
# v_lr = best_lr.predict_proba(X_val)
v_xgb = best_xgb.predict(X_val)
# v_svm = best_svm.predict_proba(X_val)
# print(v_rf.shape, v_lr.shape, v_xgb.shape, v_svm.shape)
print(v_rf.shape, v_xgb.shape)

(65,) (65,)

In [130]:
# model finalization and make prediction
best_rf.fit(X, y)
# best_lr.fit(X, y)
best_xgb.fit(X, y)
# best_svm.fit(X, y)

preds_rf = best_rf.predict(X_test)
# preds_lr = best_lr.predict(X_test)
preds_xgb = best_xgb.predict(X_test)
# preds_svm = best_svm.predict(X_test).values
# print(preds_rf.shape, preds_lr.shape, preds_xgb.shape, preds_svm.shape)
print(preds_rf.shape, preds_xgb.shape)

(286,) (286,)

In [139]:
v_rf = best_rf.predict(X_val)
# v_lr = best_lr.predict(X_val)
v_xgb = best_xgb.predict(X_val)
# v_svm = best_svm.predict(X_val).values
ensembles = np.mean([v_rf, v_xgb], axis=0)
ensembles = 0.7*v_rf+0.3*v_xgb
print("(After finalization)OOF prediction logloss : %.4f" % mean_absolute_percentage_error(y_val, ensembles))

(After finalization)OOF prediction logloss : 0.6642

In [132]:
preds_rf.shape

(286,)

In [96]:
submission = pd.read_csv('/USER/teeth/sample_submission.csv')
submission

          filename  time_min
0    test_0000.png         1
1    test_0001.png         1
2    test_0002.png         1
3    test_0003.png         1
4    test_0004.png         1
..             ...       ...
281  test_0281.png         1
282  test_0282.png         1
283  test_0283.png         1
284  test_0284.png         1
285  test_0285.png         1

[286 rows x 2 columns]

In [140]:
voting_weights = [0.7, 0.3]
voting_weights = [1, 0]
submission['time_min'] = voting_weights[0]*preds_rf[:] + voting_weights[1]*preds_xgb[:]
submission

          filename   time_min
0    test_0000.png   8.919955
1    test_0001.png   8.919955
2    test_0002.png  13.715483
3    test_0003.png   8.546059
4    test_0004.png  14.756694
..             ...        ...
281  test_0281.png   8.919955
282  test_0282.png   8.546059
283  test_0283.png  16.832840
284  test_0284.png  13.715483
285  test_0285.png   8.919955

[286 rows x 2 columns]

In [141]:
submission['time_min'].describe()

count    286.000000
mean      11.848678
std        3.269477
min        8.546059
25%        8.919955
50%       11.317719
75%       14.710652
max       16.832840
Name: time_min, dtype: float64

In [142]:
submission.to_csv("submission.csv", index=False)